@model BendeYaparim.Web.ViewModels.EditViewModel
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.maskedinput-1.2.2.js")" type="text/javascript"></script>
<script type="text/javascript">
    jQuery(function ($) {
        $("#PhoneNumber").mask("(999) 999-9999");
    });
    
</script>
<table cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <!-- ikincil sol alan başlangıç -->
        <td class="left_side" valign="top">
            <div class="mleft20">
                <div class="mleft20 left_shadow">
                    <h2>
                        Ulasım bilgilerimi değiştir</h2>
                    @using (Html.BeginForm())
                    { 
                        @Html.ValidationSummary(true, "Hesabınızda degisiklik yapilamadi.") 
                        <span class="mavialan_bg">telefonun *</span>
                        @Html.TextBoxFor(a => a.PhoneNumber, new { @class = "input left mleft10" })
                        @Html.ValidationMessageFor(m => m.PhoneNumber)
                        <div class="clear">
                        </div>
                        <div class="mleft20">
                            burasi falan filan <span>Email adresimin başkaları tarafından görülmesini </span>
                            <select id="emailVisible" name="emailVisible">
                                @if (ViewBag.EmailVisible)
                                {
                                    <option value="1" selected="selected">istiyorum</option>
                                    <option value="0">istemiyorum</option>
                                }
                                else
                                {
                                    <option value="1">istiyorum</option>
                                    <option value="0" selected="selected">istemiyorum</option>
                                }
                            </select>
                            <br />
                            <span>Telefon numaramın başkaları tarafından görülmesini </span>
                            <select id="phoneVisible" name="phoneVisible">
                                @if (ViewBag.PhoneVisible)
                                {
                                    <option value="1" selected="selected">istiyorum</option>
                                    <option value="0">istemiyorum</option>
                                }
                                else
                                {
                                    <option value="1">istiyorum</option>
                                    <option value="0" selected="selected">istemiyorum</option>
                                }
                            </select>
                        </div>
                        <br />
                        <div class="mleft20">
                            <input type="submit" value="Değişiklikleri kaydet" class="myBtn2" />
                            <div class="clear">
                            </div>
                            <br />
                        </div>
                    }
                </div>
            </div>
        </td>
        <!-- sol alan bitiş -->
        <!-- sağ alan başlangıç -->
        <td class="right_side" valign="top">
            <p class="SubCont">
                <center>
                    <img src="../../Content/images/banner.png" /></center>
            </p>
        </td>
        <!-- sağ alan bitiş -->
    </tr>
</table>
