<div id="menu" class="last">
        <div class="banner column">
            <img src="@Url.Content("~/Content/imgs/menubanner.png")" border="0" /></div>
        <div class="menucisgi column">
        </div>
        <span class="column">
            <img src="@Url.Content("~/Content/imgs/enihtiyac.png")" border="0" /></span><div class="span-2 last">
            </div>
        <div class="column border">
            <p class="column">
                İngilizce tercümanlık <span class="mavi">l</span> Web Sitesi tasarımı <span class="mavi">
                    l</span> Ev temizliği <span class="mavi">l</span> Matematik dersi (ilk öğretim)
                <span class="mavi">l</span> Broşür / katalog tasarım yapımı <span class="mavi">l</span>
                İngilizce dersi <span class="mavi">l</span> Bilgisayar / Ev ağı / İnternet kurulum
                ve bakım desteği <span class="mavi">l</span> Kitap okuma hizmeti <span class="mavi">
                    l</span> Çocuk bakıcılığı <span class="mavi">l</span> Şoförlük <span class="mavi">l</span>
                Kurumsal kimlik / Logo tasarım hizmeti <span class="mavi">l</span> Yaşlı veya hasta
                bakımı hizmeti <span class="mavi">l</span> Yazı yazma (daktilo/bilgisayar ile) hizmeti
                <span class="mavi">l</span> Ev yemeği hizmeti <span class="mavi">l</span> İngilizce
                çeviri <span class="mavi">l</span> Gitar dersi <span class="mavi">l</span> Ütü yapma
                hizmeti <span class="mavi">l</span>
            </p>
        </div>
        <div class="menucisgi column">
        </div>
        <span class="column">
            <img src="@Url.Content("~/Content/imgs/enyenihiz.png")" border="0" /></span><div class="span-2 last">
            </div>
        <div class="column border">
            <p class="column">
                İngilizce tercümanlık <span class="mavi">l</span> Web Sitesi tasarımı <span class="mavi">
                    l</span> Ev temizliği <span class="mavi">l</span> Matematik dersi (ilk öğretim)
                <span class="mavi">l</span> Broşür / katalog tasarım yapımı <span class="mavi">l</span>
                İngilizce dersi <span class="mavi">l</span> Bilgisayar / Ev ağı / İnternet kurulum
                ve bakım desteği <span class="mavi">l</span> Kitap okuma hizmeti <span class="mavi">
                    l</span> Çocuk bakıcılığı <span class="mavi">l</span> Şoförlük <span class="mavi">l</span>
                Kurumsal kimlik / Logo tasarım hizmeti <span class="mavi">l</span> Yaşlı veya hasta
                bakımı hizmeti <span class="mavi">l</span> Yazı yazma (daktilo/bilgisayar ile) hizmeti
                <span class="mavi">l</span> Ev yemeği hizmeti <span class="mavi">l</span> İngilizce
                çeviri <span class="mavi">l</span> Gitar dersi <span class="mavi">l</span> Ütü yapma
                hizmeti <span class="mavi">l</span>
            </p>
        </div>
        <div class="menucisgi column">
        </div>
        <span class="column">
            <img src="@Url.Content("~/Content/imgs/facetebul.png")" border="0" /></span><div class="span-2 last">
            </div>
        <div class="column border">
            <p class="column">
                <img src="@Url.Content("~/Content/imgs/facedum.png")" border="0" />
            </p>
        </div>
        <div class="span-2 last">
        </div>
    </div>
